    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll logo" href="#page-top"></a>
        </div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#sobre">O Projeto</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#atividades-causas">Atividades</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#doar">doar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#voluntario">voluntariar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contato">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">PROJETO PINDERÊ</h1>
                <!--<hr>-->
                <br><br>
                <p> Promovemos assistência cultural, atividades recreativas, sociais e esportivas, atendimento psicológico e psicopedagógico à comunidade local e adjacências.</p>
                <a href="#doar" class="btn btn-primary btn-xl page-scroll">Quero Ajudar</a>
            </div>
        </div>
    </header>

    <div id="opcoes">
    <!--<section id="call-to-action" class="section bg-default call-to-action">-->
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <div class="fluid-grid first-grid text-center">
                        <a href="#doar"><span>conhecer as causas</span><h3>DOAR</h3><a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fluid-grid second-grid text-center">
                        <a class="voluntario" href="#voluntario"><span>fazer parte do projeto</span><h3>VOLUNTARIAR</h3></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fluid-grid third-grid text-center">
                        <a href="#atividades-causas"><span>ir nos eventos</span><h3>PARTICIPAR</h3></a>
                    </div>
                </div>
            </div>
        </div>
    <!--</section>-->
    </div>

    <section class="bg-primary" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">O PROJETO PINDERÊ</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Fundado em 2001, o Projeto Pinderê surgiu com a <b>missão de atender crianças com dificuldade de aprendizado</b> e como um foco de luz na comunidade do bairro Jardim São Luiz, em São Paulo.
                    </p>
                    <hr class="light">
                    <p class="text-faded">
                        Atualmente, a instituição se tornou um <b>ecossistema de acolhimento e aprendizado</b> no bairro, pois além de oferecer <b>serviços de apoio à gestante adolescente</b>, <b> reforço escolar</b>, <b>psicopedagogia</b> e <b>psicologia às crianças e jovens</b>, possui também atividades como rodas de leitura, aulas de artesanato, violão, informática, elétrica, entre outros.
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="no-padding" id="atividades-causas">
        <div class="text-center">
            <hr class="light">
            <h2>NOSSAS ATIVIDADES</h2>
            <hr class="light">
            <!--<h4>O Projeto Pinderê há quase 20 anos vem construindo novas histórias e transformando a vida de pessoas</h4>-->
        </div>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_04.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_05.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_06.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_07.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_08.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="img/layout-pendere_09.jpg" class="img-responsive imagens-atividades" alt="" >
                </div>
            </div>
        </div>
    </section>

    <section id="doar">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-offset-2 text-center">
                    <h2>QUERO DOAR</h2>
                    <hr class="light">
                    <p class="text-faded">
                        Ajude o Projeto Pinderê a continuar nesse caminhada. Seja também um instrumento de bondade!
                        <br>
                        Contribua, arrecade e se envolva na causa.
                    </p>
                </div>
                <div class="col-md-5 col-lg-offset-2 form-line text-center">
                    <div>
                        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                        <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                            <input type="hidden" name="currency" value="BRL" />
                            <input type="hidden" name="receiverEmail" value="cintiapar@gmail.com" />
                            <input type="hidden" name="iot" value="button" />
                            <input type="image" src="img/doar.jpg" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </form>
                        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="banco">
                        <p>
                        <hr class="light">
                        <strong>Doações</strong>
                        <br><br>
                        Banco Bradesco<br>
                        Agência: 6511<br>
                        Conta-corrente: 0001011-1<br>
                        CNPJ: 07.989.026/0001-53
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="light">
        <hr class="light">
    </section>

    <section id="voluntario">
        <div class="section-content text-center">
            <div class="col-md-10 col-lg-offset-1">
                <h2 class="section-heading">FAÇA PARTE DO PROJETO PINDERÊ</h2>
                <hr class="light">
                <div class="row">
                    <div class="col-md-8 col-lg-offset-2 text-center">
                        <p class="text-faded">
                            Ser voluntário é exercitar o amor em forma de gestos ao desconhecido, é trazer a luz aos corações inquietos, arrancar sorrisos involuntários e aprender que o ato de doar-se é a forma de amor mais sincera que existe.<br><br>
                            <b>Venha ser um voluntário no Projeto Pinderê, seja o raio de sol na vida de outras pessoas!</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-section">
            <div class="container">
                <form>
                    <div class="col-md-6 form-line">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtNome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <br>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <br>
                            <input type="tel" class="form-control" id="txtTelefone" placeholder="Telefone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea  class="form-control" id="txtMensagem" placeholder="Como você quer ajudar o Projeto Prinderê?"></textarea>
                        </div>
                        <br>
                        <div>
                            <button  type="button" id="btnEnviar" class="page-scroll btn btn-default btn-xl sr-button">EU QUERO FAZER PARTE</button>
                        </div>
                    </div>
                </form>
            </div>
    </section>

    <br>

    <div id="contato">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <div class="fluid-grid first-grid-menu text-center">
                        <h3>PARA CONTATO</h3> <br>                       
                         </i> (11) 5511-8153 <br>
                         ongprojetopindere@gmail.com
                         
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fluid-grid second-grid-menu text-center">
                        <h3>HORÁRIO DE FUNCIONAMENTO</h3><br>                       
                         Segunda à Sábado <br>
                         9h às 18h
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fluid-grid-menu third-grid-menu text-center">
                        <h3>ENDEREÇO</h3><br>                       
                         Rua Professor Antônio de Franco, 22 <br>
                         Jardim São Luis, 05844-200 <br>
                         São Paulo, SP
                    </div>
                </div>
            </div>
        </div>
    <!--</section>-->
    </div> 